body{
    text-align: center;
}
#intro{
    width: 100%;
    
    background-color: gray;
    padding: 30px 40px;
    
    
}
.icons{
    margin: 0 20px 20px;
    color: grey;
}
.icons:hover{
    color: greenyellow;
    
}
.bottom-container{
    background-color: black;
    height: 150px;
    padding: 30px;
    /* font-family: 'Montserrat', sans-serif; */
    


}
.footer-link{
    margin: 0px 20px ;
    color: #11999E;
    text-decoration: none;
    font-size: larger;
}
.copy{
    margin: 20px 0;
    color: #EAF6F6;
    font-size: small;
}
.footer-link:hover{
    color: #EAF6F6;
}